<h1>新增餐廳</h1>

<form action="/restaurant_list" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <label for="title">名稱</label>
  <input type="text">
  <br>
  <label for="title">地址</label>
  <input type="text">
  <br>
  <label for="">電話</label>
  <input type="tel">
  <br>
  <label for="title">信箱</label>
  <input type="email">
  <br> 
  <label for="describle">描述</label>
  <textarea name=""cols="30" rows="10"></textarea>
  <br>
  <input type="submit">
</form>